<mat-toolbar color="primary">
  <span class="title"
    ><a routerLink="" routerLinkActive="active" class="link"
      >Rpi Dashboard</a
    ></span
  >
  <div>
    <button mat-raised-button routerLink="/dashboard" routerLinkActive="active">
      Dashboard
    </button>
  </div>
  <span class="spacer"></span>
  <div class="button-container">
    <button
      mat-raised-button
      routerLink="/login"
      routerLinkActive="active"
      *ngIf="!authService.isLoggedIn"
    >
      Login
    </button>
    <button
      mat-mini-fab
      color="basic"
      *ngIf="authService.isLoggedIn"
      (click)="authService.logout()"
      matTooltip="Log out"
    >
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
